appnope
backports.functools-lru-cache
backports.shutil-get-terminal-size
cycler
decorator
enum34
ipython
ipython-genutils
kiwisolver
matplotlib
numpy
opencv-python
pandas
pathlib2
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
PyMySQL
pyparsing
python-dateutil
pytz
scandir
scikit-learn
scipy
seaborn
simplegeneric
six
sklearn
subprocess32
traitlets
wcwidth